[client-server]
port = 3306

[mariadbd]
skip-host-cache
skip-name-resolve

[mysqld]
user                    = mysql
datadir                 = /var/lib/mysql
socket                  = /run/mysqld/mysqld.sock
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
tmpdir                  = /tmp
bind-address            = 0.0.0.0
skip-external-locking

character-set-server    = utf8mb4
collation-server        = utf8mb4_unicode_ci
character-set-client-handshake = FALSE

